* {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

body {
    background: #d4d4d2;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    font-size: 24px;
    width: 425px;
    margin: auto;
    margin-top: 50px;
    grid-template-areas:
    "display display display display"
    "seven eight nine divide"
    "four five six star"
    "one two three minus"
    "period nothing plus c"
    "equals equals equals equals";
    gap: 10px;
}

.calculator>div {
    padding: 25px;
}

.div1 {
    grid-area: display;
    text-align: right;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.div2 {
    grid-area: c;
    text-align: center;
}

.div3 {
    grid-area: equals;
    text-align: center;
}

.div4 {
    grid-area: divide;
    text-align: center;
}

.div5 {
    grid-area: seven;
    text-align: center;
}

.div6 {
    grid-area: eight;
    text-align: center;
}

.div7 {
    grid-area: nine;
    text-align: center;
}

.div8 {
    grid-area: star;
    text-align: center;
}

.div9 {
    grid-area: four;
    text-align: center;
}

.div10 {
    grid-area: five;
    text-align: center;
}

.div11 {
    grid-area: six;
    text-align: center;
}

.div12 {
    grid-area: minus;
    text-align: center;
}

.div13 {
    grid-area: one;
    text-align: center;
}

.div14 {
    grid-area: two;
    text-align: center;
}

.div15 {
    grid-area: three;
    text-align: center;
}

.div16 {
    grid-area: plus;
    text-align: center;
}

.div17 {
    grid-area: nothing;
    text-align: center;
}

.div18 {
    grid-area: period;
    text-align: center;
}