* {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

body {
    background: #d4d4d2;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    font-size: 28px;
    width: 430px;
    margin: auto;
    margin-top: 50px;
    grid-template-areas:
    "display display display display"
    "seven eight nine divide"
    "four five six star"
    "one two three minus"
    "period nothing plus c"
    "equals equals equals equals";
}

.calc-container {
    box-shadow: 0px 0px 20px 0px #aaa;
    width: 400px;
    margin: auto;
}

.calculator>input {
    padding: 25px;
}

.div1 {
    grid-area: display;
    text-align: right;
    background-color: black;
    padding: 65px 10px 0 0;
    color: white;
    font-size: 52px;
    grid-row: 1 / span 2;
}

input[type="button"] {
    font-size: 28px;
    border: 1px solid #d4d4d2;
}

input[type="button"]:focus {
    border: 1px solid black;
}

input[id="zero"] {
    grid-column: 1 / span 2;
}

.operator {
    background-color: #FF9500;
}
